aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.4.0
Brotli==1.0.9
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.10
discord==1.7.3
discord.py==1.7.3
ffmpeg==1.4
heroku==0.1.4
idna==3.3
multidict==5.2.0
mutagen==1.45.1
pycparser==2.21
pycryptodomex==3.14.0
PyNaCl==1.4.0
python-dateutil==1.5
requests==2.27.1
six==1.16.0
typing_extensions==4.0.1
urllib3==1.26.7
websockets==10.1
yarl==1.7.2
youtube-dl==2021.12.17
yt-dlp==2022.3.8.2
