aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.4.0
cffi==1.15.0
chardet==4.0.0
discord==1.7.3
discord.py==1.7.3
idna==3.3
multidict==5.2.0
mutagen==1.45.1
pycparser==2.21
pycryptodomex==3.14.0
PyNaCl==1.4.0
six==1.16.0
typing-extensions==4.0.1
websockets==10.1
yarl==1.7.2
yt-dlp==2022.1.21
